<body class="jvcs-background">
  <audio src="/mario theme song.mp3" autoplay></audio>

  <div class="jumbotron">
    <h1>It's a'me, survey!</h1>
    <p></p>
    <a href="/surveys" class="btn btn-primary btn-lg">Go to Surveys</a>
  </div>
</body>
