<body class="jvcs-background">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>Lorem ipsum bleh blah bluh</p>
    <a href="/surveys" class="btn btn-primary btn-lg">Go to Surveys</a>
  </div>
</body>
