<h3>Edit Question</h3>

<form action="/surveys/<%= Survey.find(@question.survey_id).id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <div class="form-group">
    <label for="question">Question Name</label>
    <input type="text" class="form-control" name="question" value="<%= @question.question %>">
  </div>

  <button type="submit" class="btn btn-primary btn-md">Edit</button>
</form>
